/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.section {
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06); }

.layout-spacing {
  padding-bottom: 25px; }

 

.blockui-growl-message {
  display: none;
  text-align: left;
  padding: 15px;
  background-color: #8dbf42;
  color: #fff;
  border-radius: 3px; }
  .blockui-growl-message i {
    font-size: 20px; }

.section .info h6 {
  color: #3b3f5c;
  margin: 4px 8px 40px 8px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase; }

/*
    General Infomation
*/
.section {
  background-color: #fff;
  border-radius: 6px; }
  .section .info, .section .save-info {
    padding: 20px; }
  .section .info .form {
    width: 92%; }
  .section .info .upload {
    border-right: 1px solid #ebedf2; }
    .section .info .upload p {
      font-size: 14px;
      font-weight: 600;
      color: #1b55e2; }
      .section .info .upload p i {
        font-size: 22px;
        color: #1b55e2;
        vertical-align: middle; }
  .section .info label {
    color: #888ea8;
    font-size: 13px;
    letter-spacing: 1px; }
  .section .info .dropify-wrapper {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 6px; }
    .section .info .dropify-wrapper .dropify-preview {
      background-color: #fff;
      padding: 0; }
    .section .info .dropify-wrapper .dropify-clear {
      font-size: 16px;
      padding: 4px 8px;
      color: #fff;
      border: none; }
      .section .info .dropify-wrapper .dropify-clear:hover {
        background-color: transparent; }
    .section .info .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
      padding-top: 27px; }
      .section .info .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
        height: 20px;
        position: absolute;
        top: -1px;
        left: 45%;
        color: #fff;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        background: transparent;
        width: 0;
        height: 0;
        font-size: 28px;
        width: 24px;
        content: " ";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-upload-cloud'%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3cline x1='12' y1='12' x2='12' y2='21'%3e%3c/line%3e%3cpath d='M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3'%3e%3c/path%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3c/svg%3e");
        height: 20px; }
    .section .info .dropify-wrapper.touch-fallback {
      border: 1px solid #ebedf2; }
      .section .info .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner {
        padding: 0; }
      .section .info .dropify-wrapper.touch-fallback .dropify-clear {
        color: #515365; }
      .section .info .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename {
        margin-top: 10px; }

 
/*
    Footer
*/
.account-settings-footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 295px);
  background: #191e3a;
  padding: 12px 20px;
  -webkit-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
  -moz-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
  box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
  border-top: 1px solid #f1f2f3;
  border-radius: 6px 6px 0 0;
  z-index: 5; }
  .account-settings-footer .as-footer-container {
    display: flex;
    justify-content: space-between; }

.sidebar-closed .account-settings-footer {
  width: calc(100% - 94px); }

@media (max-width: 991px) {
  .account-settings-container .account-content {
    width: 100%;
    padding: 0; }
  .account-settings-footer {
    width: calc(100% - 29px); } }

@media (max-width: 767px) {
  .section .info .upload {
    border-right: none; }
  .skill .input-form {
    width: 100%; } }


    